*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    color: #221F51;
}

.wrapper{
    font-size: 1.6em;
    padding: 2em;
    margin: 0 auto;
    width: 768px;
    background-color: white;
}

#logo{
    /* margin-bottom: 15px; */
    display: inline-block;
}

.sb-item{
    height: 62px;
    width: 48px;
    list-style-type: none;
    margin-bottom: 0px;
    padding-top: 50px;
    display: inline;
    margin-left: 30px;
}
.sb-icon-list{
    margin-bottom: 50px;
    width: 540px;
    display: inline-block;
}

.first-sb{
  background:   url("../images/first-sb.png") top center no-repeat;
}
.second-sb{
    background:   url("../images/second-sb.png") top center no-repeat;
  }
  .third-sb{
    background:   url("../images/third-sb.png") top center no-repeat;
  }
  .fourth-sb{
    background:   url("../images/fourth-sb.png") top center no-repeat;
  }

  .fifth-sb{
    background:   url("../images/fifth-sb.png") top center no-repeat;
  }


  .list-span{
      display: inline-block;
      padding-left: 0px;
      padding-top: 8px;
      font-size: 1.4em;
  }


  #social{
display: none;
}

  #big-image{
      margin-bottom: 50px;
  }

  #newsletter{
      background: url('../images/social.png') bottom left no-repeat;
      height: 34px;
      padding-left: 54px;
      position: relative;
      margin-bottom: 50px;
  }

  #signup-txt{
      width: 317px;
      display: inline-block;
      font-size: .9em;
      margin-right: 60px;
      padding-top: 5px;
  }

  .email-input{

    height: 30px;
    width: 170px;
    margin-right: 30px;
  }

  .button{
      border:1px solid #999999;
      border-radius: 42px;
      font-size: 12px;
      padding: 5px 15px;
      text-decoration: none;
      display: inline-block;
      text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
      font-weight: bold;
      color: #000000;
      background-color: #FFF;
      background-image: linear-gradient(to bottom,#FFF,#CFCFCF);
  }

  .subscribe-span{
      position: absolute;
      bottom:10;
      margin-top: 8px;
  }

  .article{
      display: inline-block  ;
      width: 166px;
      margin-right: 16px;
  }

  .art-title{
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .fourth-art{
      margin-right: 0px;
  }

  